<form action="/registrations" method="POST">
    <div class="col-md-12">
        <div class="header">
            <img src="images/cars_50_1_50.jpeg">
            <h1>REG-NUMBERS</h1>
            <p>Western Cape registration numbers</p>
        </div>
    </div>

    <div class="all-content">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pwd">Registration number:</label>
                    <input type="reg-number" name="enterReg" class="form-control" value="{{enterReg}}" id="pwd"
                        placeholder="enter reg number here">
                </div>
            </div>
        </div>

        <span class="entry">
            <h5>{{messages.info}}</h5>
        </span>
        <span class="entry">
            <h5>{{messages.infoTwo}}</h5>
        </span>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Select Town
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {{#each towns}}
                <a class="dropdown-item" href="/filter/{{town_tag}}">{{town_name}}</a>
                {{/each}}
            </div>
        </div>

        <div class="col-md-6">
            <button type="submit" class="btn btn-success">Add</button>
            <button type="button" class="btn btn-danger">Reset</button>
        </div>

        {{#each town}}
        <div class="row">
            <div class="output">
                <span class="btn btn-warning a">{{reg_number}}</span>
            </div>
        </div>
        {{/each}}
</form>
</div>

<div>
    <hr class="style-eight">
</div>
</div>